---
layout: main
title:  "Bookmarks"
---

<div id="mainContainer">
  <div id="mainContentContainer">
  {% include postheader.html %}
  	<div class="bookmarkList">
			<div class="bookmarkGroup">
			{% for appleItems in site.data.appleItems %}
			<div class="bookmarkItem">
				<div class="bookmarkItemLink">
					<a href="{{ appleItems.url }}" target="blank">{{ appleItems.name }}</a>
				</div>
			</div>
			{% endfor %}
			</div>
  		<div class="bookmarkGroup">
  			{% for googleItems in site.data.googleItems %}	
				<div class="bookmarkItem">
					<div class="bookmarkItemLink">
						<a href="{{ googleItems.url }}" target="blank">{{ googleItems.name }}</a>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="bookmarkGroup">{% for toolbox in site.data.toolbox %}	
				<div class="bookmarkItem">
					<div class="bookmarkItemLink">
						<a href="{{ toolbox.url }}" target="blank">{{ toolbox.name }}</a>
					</div>
				</div>
			{% endfor %}	
			</div>
			<div class="bookmarkGroup">
			{% for nicities in site.data.nicities %} 
			<div class="bookmarkItem">
			  <div class="bookmarkItemLink">
			  	<a href="{{ nicities.url }}" target="blank">{{ nicities.name }}</a>
			  </div>
			</div>
			{% endfor %}	
			</div>
			<div class="bookmarkGroup">
			{% for bookmark in site.data.bookmarks %}	
				<div class="bookmarkItem">
					<div class="bookmarkItemLink">
						<a href="{{ bookmark.url }}" target="blank">{{ bookmark.name }}</a>
					</div>
				</div>
				{% endfor %}	
			</div>
		</div>
	</div>
</div>
