---
layout:     page
title:      Bookmarks
date:       2015-05-1
categories: ['resources']
permalink:  /bookmarks/
---

<div class="row">
  <div class ="col-lg-12">
    <ul> 
    <h3>Favorite Reads</h3>
      {% for bookmark in site.data.bookmarks %}
        <li>
          <a class="btn-link" href="{{ bookmark.url }}" target="blank"> 
            {{ bookmark.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <ul>
    <h3>Sketch Toolbox</h3>
      {% for toolbox in site.data.toolbox %}
        <li>
          <a class="btn-link" href="{{ toolbox.url }}" target="blank"> 
            {{ toolbox.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <ul>
    <h3>Design Nicities</h3>
      {% for nicities in site.data.nicities %}
        <li>
          <a class="btn-link" href="{{ nicities.url }}" target="blank"> 
            {{ nicities.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>