---
layout:      page
date:        2015-07-19
title:       Device Quick Reference
---

{% include postheader.html %}
	<div class="row">
		<div class="col">
			<div class="box">
				<table class="table" role="presentation">
				  <thead>
				    <tr>
				    	<th class="caption" colspan="4">Apple Devices
				    	</th>
				    </tr>
				  </thead>
				  <tfoot>
				    <tr>
				    	<th class="caption" colspan="4">Images and assets should be oringally scaled @3x and then downscaled by 87% to fit 1920 x 1080px resolution.
				    	</th>
				    </tr>
				  </tfoot>
				  <tbody>

				    <!-- APPLE WATCH -->
				    <tr>
				      <td>
				        <ul> 
				          <li><p class="row-heading"> Apple Watch 38mm </p></li>
				          <li> Retina Display </li>
				          <li> 340 × 272 pixels | @2x</li>
									<li> Height: 38.6mm | Width: 33.3mm | Depth: 10.5mm </li>
				          <li> Apple Watch OS | Released: 2015 </li>
				        </ul>
				      </td>
				    </tr>
				    <!-- APPLE WATCH -->
				    <tr>
				      <td>
				        <ul>
				          <li><p class="row-heading"> Apple Watch 42mm </p></li>
									<li> Retina Display </li>
									<li> 390 × 312 pixels | @2x </li>
									<li> Height: 42.0mm | Width: 35.9mm | Depth: 10.5mm </li>
				          <li> Apple Watch OS | Released: 2015 </li>
				        </ul>
				      </td>
				    </tr>
				    <!-- iPHONE 6 PLUS -->
				    <tr>
				      <td>
				        <ul> 
				          <li><p class="row-heading"> iPhone 6 Plus </p></li>
				          <li> 5.5" Retina HD Display </li>
				          <li> 1920 × 1080 pixels | 401ppi | @3x </li>
				          <li> Height: 158.1 mm | Width: 77.8 mm | Depth: 7.1mm | Weight: 6.07oz </li> 
				          <li> iOS 8 | Released: 2014-09 </li> 
				        </ul>
				      </td>
				    </tr>
				    <!-- iPHONE 6 -->
				    <tr>
				      <td>
				        <ul> 
				          <li><p class="row-heading"> iPhone 6 </p></li>
				          <li> 4.7" Retina HD Display </li> 
				          <li> 1334 x 750 pixels | 326ppi | @2x </li>
				          <li> Height: 5.4 inches | Depth: 6.9mm </li> 
				          <li> iOS 8 | Released: 2014-09 </li>
				        </ul>
				      </td>
				    </tr>
				    <!-- iPHONE 5 -->
				    <tr>
				      <td>
				        <ul> 
				          <li><p class="row-heading"> iPhone 5s, 5c, 5 </p></li>
				          <li> 1136 x 640 pixels | 326ppi | @2x </li> 
				          <li> 4” Retina Display | Height: 4.8 inches | Depth: 7.6mm </li> 
				          <li> iOS 7 | Released: 2013-09 </li>
				        </ul>
				      </td>
				    </tr>
				    <!-- iPHONE 4S -->
				    <tr>
				      <td>
				        <ul> 
				          <li><p class="row-heading"> iPhone 4s </p></li>
				          <li> 960 x 640 pixels | 326ppi | @2x </li>
				          <li> 3.5” Retina Display | Height: 4.5 inches | Depth: 9.3mm </li>
				          <li> iOS 5 | Released: 2011-10 </li>
				        </ul>
				      </td>
				    </tr>
				    <!-- iPHONE 3GS -->
				    <tr>
				      <td>
				        <ul> 
				          <li><p class="row-heading"> iPhone 3GS </p></li>
				          <li> Height: 4.5 inches | Depth: 12.3mm </li>
				          <li> 480 x 320 pixels | 163ppi | @1x </li> 
				          <li> 3.5” Display </li>
				          <li> OS 3 | Released: 2009-06 | Supports: iOS 6.1.6 </li>
				        </ul>
				      </td>
				    </tr>
				    <!-- iPHONE 1ST GENERATION -->
				    <tr>
				      <td>
				        <ul> 
				          <li><p class="row-heading"> iPhone (1st Gen) </p></li>
				          <li> Height: 4.5 inches | Depth: 11.7mm </li>
				          <li> 480 x 320 pixels | 163ppi | @1x </li>  
				          <li> 3.5" Display </li>
				          <li> OS 1.0 | Released: 2007-06 </li>
				          <li>Supports: OS 3.1.3</li>
				        </ul>
				      </td>
				    </tr>
				  </tbody>
				</table>

				<section class="component-section">
				  <table class="table space">
				      <tbody>
				        <tr>
				          <td>
				            <ul>
				              <p class="row-heading">Additional Resources</p> 
				              {% for appleItem in site.data.appleItems %}
				              <li>
				                <a class="btn-link" href="{{ appleItem.url }}" target="blank"> 
				                  {{ appleItem.name }}</a>
				              </li>
				              {% endfor %}
				            </ul>
				            <ul>
				              {% for googleItem in site.data.googleItems %}
				              <li>
				                <a class="btn-link" href="{{ googleItems.url }}" target="blank"> 
				                  {{ googleItem.name }}</a>
				              </li>
				              {% endfor %}
				            </ul>
				          </td>
				        </tr>
				      </tbody>
				  </table>
				</section>
			</div>
		</div>
    {% include footer.html %}
	</div>

