---
layout: main
title:  You Are Here      
---

<div id="main">
  
{% include header.html %}
  
  <div class="row">
    <div class="col">
      <div class="box">
        {% for post in site.posts %}
        <div class="list-item-group">
          <div class="list-item-title">
          {% if post.title %}<h2><a class="item-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          {% endif %}
          </div>
          <div class="list-item-date">
          {% if post.date %}<p>written on {{ post.date | date: "%b %-d, %Y" }}</p>
          {% endif %}
          </div>
        </div>
        {% endfor %}
        {% for project in site.projects %}
        <div class="list-item-group">
          <div class="list-item-title">
          {% if project.title %}<h2><a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a></h2>
          {% endif %}
          </div>
          <div class="list-item-date">
          {% if project.date %}<p>updated on {{ project.date | date: "%b %-d, %Y" }}</p>
          {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
    {% include social.html %}

    {% include footer.html %}
  
  </div>
</div>

{% include mainsidebar.html %}



      
