---
layout: default
title:  You Are Here
date:   2015-06-17
---

<div class="homepage">

  <div class="post-items">
    <p class="homepage-heading">Posts</p>
      <ul>
        {% for post in site.posts %}
        <li>
          {% if post.title %}
          <a class="post-item-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% endif %}
          {% if post.date %}
          <p class="post-item-date">written on {{ post.date | date: "%b %-d, %Y" }}</p>
          {% endif %}
          <!-- {% if post.tags %}<p class="post-item-tags">tagged in {{ post.tags }}</p>{% endif %} -->
        </li>
        {% endfor %}
      </ul>
  </div>

  <div class="project-items">
    <p class="homepage-heading">Projects</p>
      <ul>
        {% for project in site.projects %}
        <li>
          {% if project.title %}
          <a class="project-item-title" href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
          {% endif %}
          {% if project.date %}
          <p class="project-item-date">updated on {{ project.date | date: "%b %-d, %Y" }}</p>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
  </div>

  <div class="resource-items">
    <p class="homepage-heading">Resources</p>
      <ul>
        {% for resource in site.resources %}
        <li>
          {% if resource.title %}
          <a class="resource-item-title" href="{{ resource.url | prepend: site.baseurl }}">{{ resource.title }}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
  </div>

</div>
