<div class="color-nodes">
  <script>

var dataset = {
        nodes:  [
          { name: "#F5F5F5", label: "Cultured" },
          { name: "#AAE6FF", label: "Winter Wizard" },
          { name: "#9ACEEB", label: "Cornflower" },
          { name: "#5DADEC", label: "Blue Jeans" },
          { name: "#B0B7C6", label: "Cadet Blue" },
          { name: "#4F86F7", label: "Blueberry" },  // 5
          { name: "#2779FA", label: "Blue" },
          { name: "#FFD3F8", label: "Bubble Gum" },
          { name: "#FFFF99", label: "Canary" },
          { name: "#99FF99", label: "Gel Green" },
          { name: "#7CDBE1", label: "Aquamarine" }, // 10
          { name: "#5FBED7", label: "Aqua" },
          { name: "#2AADD4", label: "Cerulean" },
          { name: "#6D9BC3", label: "Cerulean Frost" },
          { name: "#1974D2", label: "Navy Blue" },
          { name: "#2D5DA1", label: "Sapphire" }, // 15
          { name: "#5D8DDF", label: "Caribbean Blue" },
          { name: "#5D76CB", label: "Indigo" },
          { name: "#2243B6", label: "Demin" }
        ],
        
        edges:  [
          { source: 0, target: 1 },
          { source: 0, target: 7 },
          { source: 0, target: 8 },
          { source: 0, target: 9 },
          { source: 1, target: 2 },
          { source: 2, target: 3 },
          { source: 2, target: 4 },
          { source: 3, target: 4 },
          { source: 3, target: 5 },
          { source: 5, target: 6 },
          { source: 9, target: 10 },
          { source: 1, target: 10 },
          { source: 10, target: 2 },
          { source: 10, target: 11 },
          { source: 11, target: 2 },
          { source: 11, target: 12 },
          { source: 12, target: 3 },
          { source: 12, target: 2 },
          { source: 12, target: 13 },
          { source: 13, target: 3 },
          { source: 13, target: 5 },
          { source: 13, target: 6 },
          { source: 13, target: 14 },
          { source: 14, target: 6 },
          { source: 14, target: 15 },
          { source: 15, target: 6 },
          { source: 16, target: 6 },
          { source: 16, target: 5 },
          { source: 16, target: 13 },
          { source: 16, target: 12 }
        ]
    };
    
    var w = 980;
    var h = 500;
    var animationStep = 400;

    var force = d3.layout.force()
                     .nodes(dataset.nodes)
                     .links(dataset.edges)
                     .size([w, h])
                     .distance(30)
                     .linkStrength(2)
                     .charge(-400)
                     .gravity(0.1)
                     .theta(0.8)
                     .start();

          var colors = d3.scale.category10();

          var svg = d3.select("body")
                .append("svg")
                .attr("width", w)
                .attr("height", h);

          var edges = svg.selectAll("line")
            .data(dataset.edges)
            .enter()
            .append("line")
            .style("stroke", "#555")
            .style("stroke-width", 1);
          
          var nodes = svg.selectAll("circle")
            .data(dataset.nodes)
            .enter()
            .append("circle")
            .attr("r", 12)
            .style("fill", function(d) { return (d.name); })
            .call(force.drag);

          force.on("tick", function() {

            edges.attr("x1", function(d) { return d.source.x; })
               .attr("y1", function(d) { return d.source.y; })
               .attr("x2", function(d) { return d.target.x; })
               .attr("y2", function(d) { return d.target.y; });
          
            nodes.attr("cx", function(d) { return d.x; })
               .attr("cy", function(d) { return d.y; });
      
          });

  </script>
</div>
