  
  <div class="flex-wrapper">
    <div class="row">

	  <div class="col-lg-2 col-md-6 col-sm-6">
	    <div class="brand-tile maraschino">
	      <p class="label">maraschino</p>
	    </div>
	  </div>
	  <div class="col-lg-2 col-sm-6">
	    <div class="brand-tile tangerine">
	      <p class="label">tangerine</p>
	    </div>
	  </div>
	  <div class="col-lg-2 col-sm-6">
	    <div class="brand-tile candy-banana">
	      <p class="label">candy banana</p>
	    </div>
	  </div>
	  <div class="col-lg-2 col-sm-6">
	    <div class="brand-tile canary-yellow">
	      <p class="label">canary yellow</p>
	    </div>
	  </div>
	  <div class="col-lg-2 col-sm-6">
	    <div class="brand-tile light-blue">
	      <p class="label">light blue</p>
	    </div>
	  </div>
	  <div class="col-lg-2 col-sm-6">
	    <div class="brand-tile sky-blue">
	      <p class="label">sky blue</p>
	    </div>
	  </div>
	  <div class="col-lg-2 col-sm-6">
	    <div class="brand-tile aqua-ocean">
	      <p class="label">aqua ocean</p>
	    </div>
	  </div>
	  <div class="col-lg-2 col-sm-6">
	    <div class="brand-tile coconut-milk">
	      <p class="label">coconut milk</p>
	    </div>
	  </div>
	  <div class="col-lg-2 col-sm-6">
	    <div class="brand-tile mercury-gray">
	      <p class="label">mercury gray</p>
	    </div>
	  </div>
	  <div class="col-lg-2 col-sm-6">
	    <div class="brand-tile steel-gray">
	      <p class="label">steel</p>
	    </div>
	  </div>
	  <div class="col-lg-2 col-sm-6">
	  <div class="brand-tile tungsten-gray">
	      <p class="label">tungsten</p>
	    </div>
	  </div>

	</div>
  </div>