html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  color: $tungsten;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin: 0;
}

footer, header {
  display: block;
}

p {
  color: $tungsten;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0;
}

b, strong {
  font-weight: bold;
}

small {
  font-size: 85%;
}

dfn {
  font-style: italic;
}

body p, h1, h2, h3, h4, h5, h6, ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-normal;
  line-height: 1;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
  
  .thumbnail {
    display: block;
    max-width: 100%;
    height: auto;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}

hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

ul, ol {
  list-style-type: none;

  li {
    margin: 0;
  }
}

a {
  background-color: transparent;
  color: $tungsten;
  text-decoration: none;

  &:active,
  &:hover {
    color: $steel;
    outline: 0;
  }

  &:hover,
  &:focus {
    color: $steel;
    text-decoration: underline;
  }
}

/***** WRAPPER AND GRID *****/

%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.wrapper {
  margin: $spacing auto;
  padding: 0 $spacing;
  @extend %clearfix;

  @include media-query($on-desktop) {
    max-width: $on-desktop;
  }

  @include media-query($on-tablet) {
    max-width: $on-tablet;
  }

  @include media-query($on-palm) {
    max-width: $on-palm;
    padding: 0 $spacing-sm;
  }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.row:after {
  clear: both;
}

.center-block {
  display: block;
  margin: 0 auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}
