body {
  color: $tungsten;
  background-color: $background-color;
  font-family: $base-font-family;
  margin: 0;
  padding: 0; 

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: $tungsten;
  font-size: $base-font-size;
  font-weight: $font-normal;
  line-height: $base-line-height;
}

body h1, h2, h3, h4, h5, h6, 
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-bold;
  line-height: 1;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul, ol {
  list-style-type: none;

  li {
    margin: 0;
  }
}

a {
  color: $tungsten;
  text-decoration: none;

  &:visited {
    color: $steel;
  }

  &:hover {
    color: $steel;
    text-decoration: none;
  }
}

/***** WRAPPER *****/

%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.wrapper {
  max-width: $on-widescreen;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing;
  padding-right: $spacing;

  @extend %clearfix;

  @include media-query($on-desktop) {
    max-width: $on-desktop;
  }

  @include media-query($on-tablet) {
    max-width: $on-tablet;
  }

  @include media-query($on-palm) {
    max-width: $on-palm;
    padding-left: $spacing-sm;
    padding-right: $spacing-sm;
  }
}
