.bookmarkList {
	float: right;
	margin: $spacing-unit-lg 0;
	padding: $spacing-unit-lg 0;
  text-align: right;
  width: 100%;
}

.bookmarkGroup {
	float: right;
  display: block;
  margin-bottom: $base-spacing-unit;
  margin-right: $base-spacing-unit;
}

.bookmarkItem {
	float: right;
	border-bottom: 2px solid $cantaloupe;
	display: block;
	margin-bottom: 5px;
	padding-right: 5px;
	width: 100%;
}

.bookmarkItemLink {
	float: right;

	a {	
		font-family: $base-font-family;
	  font-size: $font-size-lg;
	  font-weight: $font-bold;
	  line-height: 1.4;
	  padding-left: $spacing-unit-sm;
	  text-decoration: none;
	}
}