.btn {
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 0;
  font-size: $base-font-size;
  font-weight: $font-light;
  line-height: $base-line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;

  &:hover, 
  &:focus, {
    color: #333;
    outline: 0;
    outline: 0px auto -webkit-focus-ring-color;
    text-decoration: none;
  }

  &:active {
    background-image: none;
    outline: 0;
    
    &:focus {
      outline: 0;
      outline: 0px auto -webkit-focus-ring-color;
      outline-offset: 0;
    }
  }

  .disabled,
  [disabled],
  fieldset[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: .65;
  }
}

.btn-default {
  color: $mercury-gray;
  background-color: $sky-blue;

  &:hover,
  &:focus,
  .focus {
    color: $sky-blue;
    background-color: $mercury-gray;
    border-color: $mercury-gray;
  }

  &:active, 
  .active {
    color: $sky-blue;
    background-color: $mercury-gray;
    background-image: none;
    border-color: $mercury-gray;
  }

  .disabled fieldset[disabled] {
    background-color: #fff;
    border-color: #ccc;

    &:hover, 
    &:focus,
    &:active, 
    .active {
      background-color: #fff;
      border-color: #ccc;
    }
  }
}

.open .dropdown-toggle.btn-default {
  color: $sky-blue;
  background-color: darken($mercury-gray, 10%);
  background-image: none;
}


.btn-default .badge {
  color: #fff;
  background-color: #333;
}