#header {
  background: $background-color;
  clear:both;
  padding: $padding;

  @include media-query($on-palm) {
    padding: 15px 0;
  }
}

.header-group {
  padding: $padding;

  a {
    color: $tungsten;
    font-family: $mono-font-family;
  }

  h1 {
    font-size: $longreads-font-size;
    margin-top: $margin;
  }

  @include media-query($on-palm) {
    padding: $padding / 2;
  }
}

.site-title {
  color: $tungsten;
  line-height: 1;
  text-transform: uppercase;
  
  a {
    font-family: "Open Sans Condensed", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 300%;
    font-weight: $font-light;
    
    &:hover {
      text-decoration: none;
    }
    
    @include media-query($on-palm) {
      font-size: 200%;
    }
  }
}

#footer {
  background: $background-color;
  border-top: 1px solid $mercury;
  clear:both;
  margin-top: 90px;
  text-align: center;
}

.footer-meta {
  padding: $padding;

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      color: $steel;
      font-family: $mono-font-family;

      a {
        color: $steel;
        font-weight: $font-bold;
        text-decoration: none;
      }
    }
  }
}
