.site-header {
  margin: $spacing-sm;
  @extend %clearfix;
}

.header-nav {
  display: inline-block;
  padding: $spacing-sm;
}

.site-footer {
  background-color: $background-color;
  text-align: center;
  width: 100%;
}

.footer-nav {
  display: inline-block;
  padding: $spacing-sm;
}

.site-title {
  font-family: "Open Sans Condensed", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 400%;
  font-weight: $font-light;
  line-height: 1;
  text-transform: uppercase;

  a {
    color: $tungsten;
    text-decoration: none;
  }

  &:hover {
    color: $maraschino;
    transform-origin: 50% 50% 0px;
    transform: translate(0px, 0px) rotate(0deg) scale(1.12);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.site-description {
  color: $tungsten;
  font-family: $mono-font-family;
  margin: $spacing 0;

  a {
    color: $tungsten;
    font-family: $mono-font-family;
    font-weight: $font-bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.divider {
  height: 1px;
  margin: $spacing-sm auto;
  position: relative;
  width: 33.333333%;

  border: 0;
  background-image: transparent;
  -moz-background-image: -moz-linear-gradient( left, #10cbc4 0%, #7442C8 50%, #7442C8 100% );
  -webkit-background-image: -webkit-linear-gradient( left, #10cbc4 0%, #7442C8 50%, #7442C8 100% );
  background-image: linear-gradient( to right, #10cbc4 0%, #7442C8 50%, #7442C8 100% );
  background-image-slice: 1;
}

