#header {
  margin: 0 $spacing;
}

.header-box {
  background-color: transparent;
  padding: $spacing;
}

.site-header {
  margin: 0 $spacing-sm;
  @extend %clearfix;
}

.site-footer {
  clear:both;
  display: block;
  background-color: $background-color;
  margin-top: $spacing;
  width: 100%;
}

.footer-box {
  display: inline-block;
  padding: $spacing;
  @include media-query($on-palm) {
    padding: 0;
  }
}

.footer-meta {
  color: $steel;
  font-family: $mono-font-family;
  margin: $spacing 0;
  a {
    color: $steel;
    font-weight: $font-bold;
    text-decoration: none;
  }
}

.footer-meta-social {
  color: $steel;
  font-family: $mono-font-family;
  margin-top: $spacing-xs;
  a {
    color: $steel;
    font-weight: $font-bold;
    text-decoration: none;
  }  
}

.divider {
  height: 1px;
  margin: $spacing-sm auto;
  position: relative;
  width: 33.333333%;

  border: 0;
  background-image: transparent;
  -moz-background-image: -moz-linear-gradient( left, #10cbc4 0%, #7442C8 50%, #7442C8 100% );
  -webkit-background-image: -webkit-linear-gradient( left, #10cbc4 0%, #7442C8 50%, #7442C8 100% );
  background-image: linear-gradient( to right, #10cbc4 0%, #7442C8 50%, #7442C8 100% );
  background-image-slice: 1;
}

