
/********** CRAYOLA COLORS PROJECT STYLES **********/

.color-well {
  min-height: 15px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: $mercury-gray;
  border: 1px solid $mercury-gray;
  border-radius: 2px;

  .label {
    color: $tungsten-gray;
    font-weight: $font-normal;
    text-transform: uppercase;
  }
}

/*

.maraschino {
  background-color: $maraschino;
  border: 1px solid $maraschino;
}

.tangerine {
  background-color: $tangerine;
  border: 1px solid $tangerine;
}

.canary-yellow {
  background-color: $canary-yellow;
  border: 1px solid $canary-yellow;
    }

.light-blue {
  background-color: $light-blue;
  border: 1px solid $light-blue;
    }

.sky-blue {
  background-color: $sky-blue;
  border: 1px solid $sky-blue;
}

.aqua-ocean {
  background-color: $aqua-ocean;
  border: 1px solid $aqua-ocean;
}

.candy-banana {
  background-color: $candy-banana;
  border: 1px solid $candy-banana;
}

.coconut-milk {
  background-color: $coconut-milk;
  border: 1px solid $coconut-milk;
}

.mercury-gray {
  background-color: $mercury-gray;
  border: 1px solid $mercury-gray;
}

.steel-gray {
  background-color: $steel-gray;
  border: 1px solid $steel-gray;
}

.tungsten-gray {
  background-color: $tungsten-gray;
  border: 1px solid $tungsten-gray;
}
*/
