
#mainFooter {
  background: transparent;
  bottom: 0;
  float: left;
  max-width: 100px;
  position: fixed;
  clear: both;

  @include media-query($bp-fromm) {
    position: relative;
  }
}

.mainFooterContent {
  font-family: $base-font-family;
  font-size: $font-size-xs;
  text-align: left;
  display: block;
  margin-bottom: $spacing-unit-sm;
}

.footerButton {
  background: rgba(206, 213, 217, .65);
  display: inline-block;
  line-height: 1;
  margin-bottom: 5px;
  max-width: 100px;
  padding: 7px 13px;
  text-align: center;

  a {
    text-decoration: none;
  }
  
  &:hover {
    background-color: $lemon;
    cursor: pointer;
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
  }
}

.footerMetaButton {
  background-color: rgba(206, 213, 217, 0.75);
  display: inline-block;
  line-height: 1;
  margin-bottom: 5px;
  padding: 7px 13px;
  text-align: center;
  
  a {
    color: $seablue;
    text-decoration: none;
  }
  
  &:hover {
    transform-color: $seafoam;
    transform-origin: 50% 50% 0px;
    transform: translate(0px, 0px) rotate(0deg) scale(1.08);
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

