.site-footer {
  background: $background-color;
  clear:both;
  display: block;
  margin-top: $spacing;
  width: 100%;
}

.footer-meta {
  color: $steel;
  font-family: $mono-font-family;
  padding: $spacing;  

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: inline-block;
      color: $steel;
      font-family: $mono-font-family;
      margin-top: $spacing-xs;

      a {
        color: $steel;
        font-weight: $font-bold;
        text-decoration: none;
      }
    }
  }
}

.divider {
  height: 5px;
  margin-top: 7px;
  width: $spacing;
  background-color: $tungsten;
}

