svg {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  margin-right: 2px;
  background-color: teal;
}

.color-nodes {
	vertical-align: baseline;
	position: relative;
}

.project-credits {
	text-align: center;
	vertical-align: baseline;

	a {
		font-weight: $font-bold;
	}
}