#sidebar {
  float: left;
  left: 41.66666667%;
  width: 41.66666667%;
  margin-bottom: auto;
  position: relative;
  overflow: hidden;
}

#pageContentContainer {
  float: left;
  left: 41.66666667%;
  width: 58.33333333%;
  position: relative;
  overflow: hidden;

  @include media-query($bp-fromm) {
    width: 100%;
  }
}

#pageSidebarContainer {
  clear: left;
  float: left;
  width: 100%;
  overflow: hidden;
  background: $steel;
}

#pagePositionContainer {
  float: left;
  width: 100%;
  position: relative;
  right: 41.66666667%;
  background: $BGcolor;

  @include media-query($bp-fromm) {
    width: 100%;
  }
}

.box {
  padding: 0 $base-spacing-unit;

  @include media-query($bp-pavlov) {
    padding: 0;
  }
}

.row {
  clear: both;
  margin: $base-spacing-unit 0;
}

.col {
  clear: both;
  padding: 0 $base-spacing-unit;

  @include media-query($bp-pavlov) {
    padding: 0 $spacing-unit-sm;
  }
}

