#default-container2 {
  clear: left;
  float: left;
  width: 100%;
  overflow: hidden;
  background: url(/assets/old_mathematics.png) repeat fixed $seafoam; 

  @include media-query($on-tablet) {
    background: $background-color;
  }
}

#main-container2 {
  clear: left;
  float: left;
  width: 100%;
  overflow: hidden;
  background: url(/assets/stardust.png) repeat fixed $seafoam; 

  @include media-query($on-tablet) {
    background: $background-color;
  }
}

#container1 {
  float: left;
  width: 100%;
  position: relative;
  right: 41.66666667%;
  background: $background-color;
}

#main {
  float: left;
  left: 41.66666667%;
  width: 58.33333333%;
  position: relative;
  overflow: hidden;

  @include media-query($on-tablet) {
    width: 100%;
  }
}

#sidebar {
  float: left;
  left: 41.66666667%;
  width: 41.66666667%;
  margin-bottom: auto;
  position: relative;
  overflow: hidden;

  @include media-query($on-tablet) {
    width: 100%;
    display: none !important;
  }
}

.box {
  background-color: transparent;
  padding: $spacing;
}

.row {
  clear: both;
  margin: 0 $spacing;
}

.col {
  background-color: transparent;
  padding: $spacing-sm 0;
}

.col-xs, .col-sm, .col-md, .col-lg, .col-xl {
  float: left;
  min-height: 1px;
  padding-left: $spacing-sm;
  padding-right: $spacing-sm;
  position: relative;
}

.col-xs {
  width: 25%;

  @include media-query($on-tablet) {
    width: 100%;  
  }
}

.col-sm {
  width: 41.66666667%;

  @include media-query($on-tablet) {
    width: 100%;  
  }
}

.col-md {
  width: 58.33333333%;

  @include media-query($on-tablet) {
    width: 100%;  
  }
}

.col-lg {
  width: 75%; 

  @include media-query($on-palm) {
    width: 100%;  
  }
}

.col-xl {
  width: 100%; 

  @include media-query($on-palm) {
    width: 100%;  
  }
}