#header {
  left: 0px;
  top: 0px;
  position: fixed;
  clear: both;

  @include media-query($bp-fromm) {
    position: fixed;
  }
}

.headerContainer {
  background-color: transparent;
  border: 3px solid $cantaloupe;
  margin: $spacing-unit-sm;
  padding: 11px;

  @include media-query($bp-fromm) {
    background-color: $coconut;
    border: 0;
    border-bottom: 3px solid $cantaloupe;
    position: fixed;
    margin: 0;
    width: 100%;
  }
}

.siteTitle {
  color: $seablue;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $font-bold;
}

.mainDivider {
  height: 5px;
  margin-top: 7px;
  width: 30px;
  background-color: $ultraviolet;
}

.postHeaderNav {
  font-family: $base-font-family;
  font-size: $base-font-size;
  
  a {
    font-weight: $font-bold;
    text-decoration: none;
  }
}

.postDivider {
  height: 5px;
  margin-top: 7px;
  width: 30px;
  background-color: $ultraviolet;
}