#header {
  left: 0px;
  top: 0px;
  position: fixed;
  clear: both;
}

.mainHeaderContainer {
    background-color: rgba(206, 213, 217, .65);
    max-width: 150px;
    padding: $spacing-unit-sm;

    @include media-query($bp-fromm) {
      background-color: rgba(206, 213, 217, .9);
      position: absolute;
    }
}

.siteTitle {
  color: $steel;
  font-family: $base-font-family;
  font-size: $font-size-sm;
}

.mainDivider {
  height: 5px;
  margin-top: 7px;
  width: 30px;
  background-color: $ultraviolet;
}