.homepage {
  margin: auto auto $spacing-unit;
}

.homepage-heading {
  color: lighten($tungsten-gray, 25%);
  text-align: left;
  margin-bottom: $spacing-unit/2;
}

.project-items {
  margin-top: $spacing-unit;
  padding: 0; 

  ul {
    margin: 0;
    text-align: left;

    li {
      background-color: transparent;
      border: 1px solid $aqua;
      border-radius: 3px;
      display: inline-block;
      list-style-type: none;
      margin-right: 5px;
      margin-top: 5px;
      padding: 10px;

      &:hover {
        background-color: $seafoam;
        border: 1px solid $seafoam;
        transform-origin: 50% 50% 0px;
        transform: translate(0px, 0px) rotate(0deg) scale(1.25);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }

      @media screen and (max-width: $on-tablet) {
        display: block;
        margin-bottom: 5px;
        text-align: center;
      }
    }
  }

  .project-item-title {
    color: $tungsten;
    font-size: $base-font-size;
    font-weight: $font-bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .project-item-date {
    color: $steel;
    font-family: $serif-font-family;
    font-size: $small-font-size;
    font-weight: $font-light;
    margin-top: 3px;
  }
}

.post-items {
  margin-top: $spacing-unit;
  padding: 0; 

  ul {
    margin: 0;
    text-align: left;

    li {
      background-color: transparent;
      border: 1px solid $aqua;
      border-radius: 3px;
      display: inline-block;
      list-style-type: none;
      margin-right: 5px;
      margin-top: 5px;
      padding: 10px;

      &:hover {
        background-color: $seafoam;
        border: 1px solid $seafoam;
        transform-origin: 50% 50% 0px;
        transform: translate(0px, 0px) rotate(0deg) scale(1.15);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }

      @media screen and (max-width: $on-tablet) {
        display: block;
        margin-bottom: 5px;
        text-align: center;
      }
    }
  }

  .post-item-title {
    color: $tungsten;
    font-size: $base-font-size;
    font-weight: $font-bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .post-item-date {
    color: $steel;
    font-family: $serif-font-family;
    font-size: $small-font-size;
    font-weight: $font-light;
    margin-top: 3px;
  }

  .post-item-tags {
    color: $steel;
    font-family: $serif-font-family;
    font-size: $small-font-size;
    font-weight: $font-normal;
  }
}

.resource-items {
  margin-top: $spacing-unit;
  padding: 0; 

  ul {
    margin: 0;
    text-align: left;

    li {
      background-color: $aqua;
      border: 1px solid $aqua;
      border-radius: 30px;
      display: inline-block;
      list-style-type: none;
      margin-right: 5px;
      padding: 2px 10px;

      &:hover {
        background-color: $seafoam;
        border: 1px solid $seafoam;
        transform-origin: 50% 50% 0px;
        transform: translate(0px, 0px) rotate(0deg) scale(1.15);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }

      @media screen and (max-width: $on-tablet) {
        display: block;
        margin-bottom: 5px;
        text-align: center;
      }
    }
  }

  .resource-item-title {
    color: $tungsten;
    font-size: $base-font-size;
    font-weight: $font-normal;
  }
}