
.icon-set {
	padding-top: $spacing-unit;
	padding-bottom: $spacing-unit;
	text-align: center;
	vertical-align: baseline;

	ul {
		margin: 0;
	}

	ul li {
		display: inline-block;
		margin-left: 15px;
		margin-right: 15px;
	}
}

svg {
	overflow: hidden;
	position: relative;
}

.icon {
    display: inline-block;
    fill: #FF0038;

    &:hover {
  		fill: #363946; 
	}
}