.icon-set {
	padding: 0 $padding;
	text-align: center;
	vertical-align: baseline;

	ul {
		margin: 0;
	
		li {
			display: inline-block;
			margin: 0 $margin;
		}
	}
}

svg {
	overflow: hidden;
	position: relative;
}

.icon {
    display: inline-block;
    cursor: pointer;
    fill: #FF0038;

    &:hover {
  		fill: #363946; 
	}
}