.items {
  margin-bottom: $spacing;
  text-align: left;

  p {
    margin-top: $spacing-xs;
  }

  a {
    color: $tungsten;
    font-family: $base-font-family;

    &:hover {
      text-decoration: underline;  
    }
  }

  .item-date {
    color: $steel;
    font-family: $mono-font-family;
    line-height: 1;
  }
}

.pills {
  padding: $spacing-sm;
  text-align: center;
}

.pill {
  border: 1px solid $maraschino;
  border-radius: 30px;
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin-bottom: $spacing-xs;
  margin-right: $spacing-xs;
  padding: 3px 11px;
  text-align: center;
  
  -moz-background-image: -moz-linear-gradient( left, #85FDE3 0%, #9000FF 50%, transparent 100% );
  -webkit-background-image: -webkit-linear-gradient( left, #85FDE3 0%, #9000FF 50%, transparent 100% );
  background-image: linear-gradient( to right, #85FDE3 0%, #9000FF 50%, transparent 100% );
  background-size: 300%;
  background-repeat: repeat;

  a {
    color: #FFF;
    font-family: $mono-font-family;
    font-size: $base-font-size;
    font-weight: $font-normal;
  }

  &:hover {
    transition: all 1s linear;
    background-position: 100% 100%;
    border: 1px solid #FF0049;
    transform-origin: 50% 50% 0px;
    transform: translate(0px, 0px) rotate(0deg) scale(1.12);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
