.list-item-group {
  margin-bottom: $spacing;
  padding: 0;
  text-align: left;
}

.list-item-title {
  display: block;
  line-height: 1;
  position: relative;

  a {
    color: $tungsten;
    font-family: $base-font-family;
    font-weight: $font-light;
    text-decoration: none;
  }
}

.list-item-date {
  color: $steel;
  display: block;
  font-family: $mono-font-family;
  line-height: 1;
  position: relative;
}

.button-group {
  padding: $spacing-sm;
  text-align: center;
}

.button {
  background-color: $steel;
  display: inline-block;
  line-height: 1;
  margin-bottom: $spacing-xs;
  margin-right: $spacing-xs;
  padding: 3px 11px;
  text-align: center;

  a {
    color: $coconut;
    font-family: $base-font-family;
    font-size: $base-font-size;
    text-decoration: none;
  }

  &:hover {
    transform-color: $seafoam;
    transform-origin: 50% 50% 0px;
    transform: translate(0px, 0px) rotate(0deg) scale(1.12);
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.display-quote {
  height: 600px;
  background-color: $aqua;
  backgound-image: transparent;
  -moz-background-image: -moz-linear-gradient(left, #10cbc4 0%, #3a4ed5 100%);
  -webkit-background-image: -webkit-linear-gradient(left, #10cbc4 0%, #3a4ed5 100%);
  background-image: linear-gradient(to right, #10cbc4 0%, #7442C8 40%, transparent 65%, transparent 75%, transparent 85%);
  background-size: 300%;
  background-repeat:repeat;
  background-image-slice: 1;

  p {
    font-family: $serif-font-family;
    font-size: $big-font-size;
    padding: $spacing;
    margin: 0;
  }

   &:hover {
    transition: all 1s linear;
    background-position:100% 100%;
  }
}
