.mainsidebar-content {
  background: transparent;
  
  p {
    color: $steel;
    padding: $padding;
  }
}

.main-list-group {
  text-align: left;
}

.main-list-item {
  margin-bottom: 30px;
  display: block;
  
  p {
    font-size: $small-font-size;
    padding-bottom: 5px;
  }

  a {
    border-bottom: 2px solid $seablue;
    color: $tungsten;
    font-family: $base-font-family;
    font-size: $big-font-size;
    line-height: $big-line-height;
    padding-bottom: 1px;
    text-decoration: none;
  }
}

.button {
  background-color: $seablue;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  line-height: 1;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 11px;
  text-align: center;
  
  a {
    color: $coconut;
    font-family: $mono-font-family;
    font-size: $base-font-size;
    text-decoration: none;
  }
  
  &:hover {
    transform-color: $seafoam;
    transform-origin: 50% 50% 0px;
    transform: translate(0px, 0px) rotate(0deg) scale(1.12);
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.gradient {
  background-color: $seafoam;
  backgound-image: transparent;
  -moz-background-image: -moz-linear-gradient(left, #32A1EE 0%, #00adff 100%);
  -webkit-background-image: -webkit-linear-gradient(left, #32A1EE 0%, #00adff 100%);
  background-image: linear-gradient(to right, #32A1EE 0%, #00adff 40%, #00adff 100%);
  background-size: 300%;
  background-repeat:repeat;
  background-image-slice: 1;

  &:hover {
    transition: all 1s linear;
    background-position:100% 100%;
    transform-origin: 50% 50% 0px;
    transform: translate(0px, 0px) rotate(0deg) scale(1.02);
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}