/*** HOMEPAGE CONTAINER 
**********************/
#mainContainer {
  background: url(/assets/solorock.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: auto;
  overflow-x: hidden;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-radial-gradient(top, circle cover, #253750 0%, #282537 80%, #252227 100%);
    background-image: -moz-radial-gradient(top, circle cover, #253750 0%, #282537 80%, #252227 100%);
    background-image: -o-radial-gradient(top, circle cover, #253750 0%, #282537 80%, #252227 100%);
    background-image: radial-gradient(top, circle cover, #253750 0%, #282537 80%, #252227 100%);
    opacity: 0.85;
  }
}

#mainContentContainer {
  background: rgba(251, 251, 251, 1.0);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: 60%;
  overflow-x: hidden;

  @include media-query($tabletLandscape) {
    width: 75%;
  }

  @include media-query($tabletPortrait) {
    width: 100%;
  }
}

/*** TABLE OF CONTENTS
*********************/
.mainList {
  float: right;
  font-family: $monospace;
  max-width: $maxContentWidth;
  margin-top: $spacingUnitSmall;
  text-align: right;
}

.mainListGroup {
  display: block;
  margin-bottom: $spacingUnitBase;
}

.mainListDate p {
  color: $steel;
  padding-top: 5px;
}

.mainListTitle a {
  border-bottom: 3px solid $cantaloupe;
  color: $tungsten;
  font-size: $fontSizeBase;
  line-height: $largeLeading;
  padding-bottom: 2px;
  text-decoration: none;
}

/*** PHOTO SIDEBAR
*****************/
#mainSidebarContainer {
  width: 40%;
  float: right;
  text-align: right;
  position: relative;
}

.sidebarButton {
  margin: $spacingUnitSmall;
  padding: $spacingUnitSmall;
  text-align: right;
  
  a {
    color: $mercury;
    font-family: $monospace;
    font-size: $fontSizeSmall;
    
    &:hover {
      color: $seablue;
      text-decoration: none;
    }
  }
}

.gradient {
  background-color: $seafoam;
  backgound-image: transparent;
  -moz-background-image: -moz-linear-gradient(left, #32A1EE 0%, #00adff 100%);
  -webkit-background-image: -webkit-linear-gradient(left, #32A1EE 0%, #00adff 100%);
  background-image: linear-gradient(to right, #32A1EE 0%, #00adff 40%, #00adff 100%);
  background-size: 300%;
  background-repeat:repeat;
  background-image-slice: 1;

  &:hover {
    transition: all 1s linear;
    background-position:100% 100%;
    transform-origin: 50% 50% 0px;
    transform: translate(0px, 0px) rotate(0deg) scale(1.02);
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

