.page-header {
  margin: auto;
  padding: $spacing-sm;
  max-width: $content-width;

  h1 {
    font-size: $h1-font-size;
    line-height: $heading-line-height;
    text-align: center;
    
    @include media-query($on-tablet) {
      font-size: $h1-mobile-size;
    }
  }
}

.page-items {
  margin-bottom: $spacing;
  padding: 0 $spacing; 
  text-align: left;

  p {
    margin-top: $spacing-xs;
  }

  a {
    color: $tungsten;
    font-family: $mono-font-family;

    &:hover {
      text-decoration: underline;  
    }
  }
}
