.page-content {
  padding-top: $spacing;
}

.page-header {
  font-size: $h1-font-size;
  font-weight: $font-bold;
  text-align: center;
  margin-bottom: $spacing;

  a {
    color: $maraschino;
  }

  @include media-query($on-palm) {
    text-align: center;
    font-size: $h4-font-size;
  }
}

.page-lead {
    text-align: center;
    font-size: $h3-font-size;
    font-weight: $font-light;

    @include media-query($on-palm) {
        text-align: center;
        font-size: $base-font-size;
    }
}

.page-subheader {
    margin-bottom: $spacing;
    margin-top: $spacing-lg;

    h2 {
        font-weight: $font-light;
    }
}

.page-subsection {
    margin-bottom: $spacing;
    margin-top: $spacing-lg;
    border-bottom: 1px solid $mercury;

    h3 {
        font-weight: $font-semibold;
    }
}

.page-heading {
    font-size: $h1-font-size;
    text-align: center;
    vertical-align: baseline;
    margin-bottom: $spacing;
}

.page-icon {
    max-width: 30px;
    margin: 0;
}

.page-title {
    font-size: $h1-font-size;
    letter-spacing: -1px;
    line-height: $base-line-height;
    text-align: center;
    vertical-align: baseline;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-header {
  margin-bottom: $spacing;
}

.post-title {
  font-size: $h1-font-size;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;

  @include media-query($on-laptop) {
    font-size: 36px;
    }
}

.post-wrapper {
  max-width: -webkit-calc(#{$post-width} - (#{$spacing-lg} * 3));
  max-width:         calc(#{$post-width} - (#{$spacing-lg} * 3));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing;
  padding-left: $spacing;

  @extend %clearfix;
  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$on-laptop} - (#{$spacing}));
    max-width:         calc(#{$on-laptop} - (#{$spacing}));
    padding-right: $spacing-sm;
    padding-left: $spacing-sm;
  }
}

