#pageContainer {
  background: url(/assets/brooklyn.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: auto;
  overflow-x: hidden;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-radial-gradient(top, circle cover, #253750 0%, #282537 80%, #252227 100%);
    background-image: -moz-radial-gradient(top, circle cover, #253750 0%, #282537 80%, #252227 100%);
    background-image: -o-radial-gradient(top, circle cover, #253750 0%, #282537 80%, #252227 100%);
    background-image: radial-gradient(top, circle cover, #253750 0%, #282537 80%, #252227 100%);
    opacity: 0.9;
  }
}

#pageContentContainer {
  background: rgba(251, 251, 251, 1.0);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  overflow-x: hidden;
  
  @include media-query($bp-skinner) {
    width: 60%;
  }

  @include media-query($bp-jung) {
    width: 60%;
  }

  @include media-query($bp-freud) {
    width: 75%;
  }

  @include media-query($bp-fromm) {
    width: 100%;
  }
}
