.post-title-box {
  background: $background-color;
  padding: $spacing;

  @include media-query($on-palm) {
    padding: $spacing-sm;
  }
}

.post-header-meta {
  background: transparent;
  margin-top: $spacing;
  max-width: 400px;

  @include media-query($on-palm) {
    margin: 0;
  }
}

.post-header-item {
  a {
    color: $tungsten;
    font-family: $mono-font-family;
  }
  h1 {
    font-size: $longreads-font-size;
    margin-top: $spacing;
  }
}

.post-box {
  background: transparent;
  padding: 0 $spacing;

  @include media-query($on-palm) {
    padding: 0;
  }
}

.post-meta {
  font-family: $mono-font-family;
  margin: $spacing auto;
  text-align: left;
}

.post-article {
  padding: 0 $spacing;
  text-align: left;
  max-width: $content-width;
  p {
    margin-bottom: $spacing-sm;
    font-family: $serif-font-family;
    font-size: $longreads-font-size;
    font-weight: $font-normal;
    line-height: $longreads-line-height;
    a {
      color: $maraschino;
      font-weight: $font-bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  h2 {
    font-size: $h2-font-size;
    line-height: $heading-line-height;
    margin: $spacing;
    text-align: center;

    @include media-query($on-tablet) {
      font-size: $h2-mobile-size;
    }
  }

  h3 {
    font-size: $h3-font-size;
    margin: $spacing;
    text-align: center;

    @include media-query($on-tablet) {
      font-size: $h3-mobile-size;
    }
  }

  h4 {
    font-size: $h4-font-size;
    margin: $spacing;
    text-align: center;
  }

  h5 {
    font-size: $h5-font-size;
    margin: $spacing-sm;
    text-align: left;
  }

  h6 {
    font-size: $h6-font-size;
    margin: $spacing-sm;
    text-align: center;
  }

  @include media-query($on-palm) { 
    padding: 0;
    p {    
      font-size: $base-font-size;
      line-height: $base-line-height;
    }
  }
}
  
blockquote {
  color: $steel;
  font-size: $big-font-size;
  font-style: italic;
  line-height: $big-line-height;
  text-align: center;
}

ol {
  margin: $spacing-sm;
  padding: $spacing-sm;
  
  li {
    font-family: $serif-font-family;
    font-size: $longreads-font-size;
    line-height: $longreads-line-height;
    list-style-type: decimal;
    padding-bottom: $spacing-sm;
  }
}

.postsidebar-content {
  background: transparent;
}
