.postHeaderContainer {
  background-color: rgba(206, 213, 217, 0.65);
  max-width: 125px;
  padding: $spacing-unit-sm;

  @include media-query($bp-fromm) {
    background-color: rgba(206, 213, 217, .9);
  }
}
 
.postHeaderNav {
  color: $seablue;
  font-family: $base-font-family;
  font-size: $font-size-lg;
  
  a {
    font-style: italic;
    font-weight: $font-bold;
    text-decoration: none;
  }
}

.postHeaderTitle {
  color: $steel;
	font-size: $font-size-xs;
	line-height: $leading-sm;
	margin-top: $spacing-unit-sm;

  @include media-query($bp-pavlov) {
    display: none !important;
  }
}

.postDivider {
  height: 5px;
  margin-top: 7px;
  width: 30px;
  background-color: $lemon;
}