.divider {
  height: 5px;
  margin-top: 7px;
  width: 30px;
  background-color: $tungsten;
}

.post-box {
  background: $background-color;
  padding: 0 $padding;
}

.post-meta {
  margin: 30px 0;
  text-align: left;
}

.postsidebar-content {
  background: transparent;
}

.post-article {
  max-width: $content-width;
  text-align: left;

  p {
    margin-bottom: $margin;
    font-family: $serif-font-family;
    font-size: $longreads-font-size;
    line-height: $longreads-line-height;
    
    a {
      color: $steel;
      font-weight: $font-bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  blockquote {
    font-size: $big-font-size;
    font-style: italic;
    line-height: $big-line-height;
  }

  h2 {
    font-size: $h2-font-size;
    line-height: $heading-line-height;
    margin: $margin 0;
    text-align: center;

    @include media-query($on-tablet) {
      font-size: $h2-mobile-size;
    }
  }

  h3 {
    font-size: $h3-font-size;
    margin-bottom: $margin;
    margin-top: 30px;
    text-align: center;

    @include media-query($on-tablet) {
      font-size: $h3-mobile-size;
    }
  }

  h4 {
    font-size: $h4-font-size;
    margin-bottom: $margin;
    margin-top: $margin * 2;
    text-align: center;
  }

  h5 {
    font-size: $h5-font-size;
    margin: $margin;
    text-align: left;
  }

  h6 {
    font-size: $h6-font-size;
    margin: $margin;
    text-align: center;
  }

  @include media-query($on-desktop) { 
    padding: 0;
  }
}

ul ol {
  margin-top: $margin;
  padding: $padding;
  
  li {
    font-family: $serif-font-family;
    font-size: $longreads-font-size;
    line-height: $longreads-line-height;
    list-style-type: decimal;
    margin-bottom: $margin;
  }
}
