.page-header {
  margin: auto;
  padding: $spacing-unit-sm;
  max-width: $content-width;

  h1 {
    font-size: $font-size-h1m;
    line-height: $leading-heading;
    text-align: center;
    
    @include media-query($tabletPortrait) {
      font-size: $font-size-h1m;
    }
  }
}

.page-items {
  margin-bottom: $base-spacing-unit;
  padding: 0 $base-spacing-unit; 
  text-align: left;

  p {
    margin-top: 5px;
  }

  a {
    color: $tungsten;
    font-family: $monospace;

    &:hover {
      text-decoration: underline;  
    }
  }
}

.project-credits {
  text-align: center;
  vertical-align: baseline;

  a {
    font-weight: $font-bold;
  }
}
