path {
  stroke: $tungsten-gray;
  fill-rule: evenodd;
}

text {
  font: $base-font-family;
  font-weight: $font-light;
  cursor: pointer;
}

.instructions {
  font: $base-font-family;
  font-weight: $font-normal;
  text-align: center;
  margin: 1em 0;
}
