table {
  background-color: transparent;
  border: none;
}

.row-heading {
  font-family: $base-font-family;
  font-size: $fontSizeLarge;
  font-weight: $fontBold;
  color: $tungsten;
}

.caption {
  font-size: $fontSizeBase;
  font-weight: $fontNormal;
  color: $tungsten;
}

.table {
  width: 100%;
  margin-bottom: $spacingUnitBase;

  thead {
    margin: 0;
    
    tr {
      text-align: left;
      vertical-align: top;
      
      th {
        border-bottom: 1px solid $tungsten;
        padding: 5px;
        font-size: $fontSizeBase;
        font-weight: $fontNormal;
        text-transform: uppercase;
      }
    }
  }

  tfoot {
    margin: 0;
    
    tr {
      text-align: left;
      vertical-align: top;
      
      th {
        border: 1px solid $seablue;
        padding: 5px;
      }
    }
  }

  tbody {
    margin: 0;
    
    tr {
      border: 1px solid $seablue;
      border-radius: 3px;
      text-align: left;
      vertical-align: top;
      
      td {
        padding: 5px;
        width: 25%;
        
        ul {
          text-align: left;
          
          li {
            font-family: $base-font-family;
            font-size: $fontSizeBase;
            color: $tungsten;

            .header {
              font-size: $fontSizeBase;
              font-weight: $fontBold;
            }
          }
        }
      }
    }
  }
}

/* TABLE EFFECTS 
========================= */

.t-filled {
  tbody 
  tr:nth-of-type(odd) {
    background-color: $steel;
  }
  tr:nth-of-type(even) {
    background-color: $mercury;
  }
}

.t-striped {
  tbody 
  tr:nth-of-type(odd) {
    background-color: $mercury;
  }
}

.t-hover {
  tbody tr:hover {
    background-color: $mercury;
  }

  tbody tr td.active:hover,
  tbody tr th.active:hover,
  tbody tr.active:hover td,
  tbody tr:hover .active,
  tbody tr.active:hover th {
    background-color: $mercury;
  }
}


table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}

table {
  td,
  th {
      &[class*="col-"] {
      position: static; 
      float: none;
      display: table-cell;
    }
  }
}

