.color-well {
    color: $tungsten;
    min-height: $spacingUnitSmall;
    padding: $spacingUnitSmall;
    margin-bottom: $spacingUnitSmall;
    background-color: $mercury;
    border: 1px solid $mercury;
    border-radius: 2px;

    .label {
        color: $tungsten;
        font-weight: $fontNormal;
        text-transform: uppercase;
    }
}