.color-well {
    color: $tungsten;
    min-height: 15px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: $mercury;
    border: 1px solid $mercury;
    border-radius: 2px;

    .label {
        color: $tungsten;
        font-weight: $font-normal;
        text-transform: uppercase;
    }
}