.color-well {
    color: $tungsten;
    min-height: $spacing-unit-sm;
    padding: $spacing-unit-sm;
    margin-bottom: $spacing-unit-sm;
    background-color: $mercury;
    border: 1px solid $mercury;
    border-radius: 2px;

    .label {
        color: $tungsten;
        font-weight: $font-normal;
        text-transform: uppercase;
    }
}