<!DOCTYPE html>

<html>
{% include head.html %}
  <body>
    <div id="postContainer">
      <div id="postContentContainer">
        <div class="wrapper">
        {% include postheader.html %}
          <div class="row">
            <div class="col">
              <div id="postArticleContainer">
                <article class="postArticle">
                {{ content }}
                </article>
                <div id="postArticleMeta">
                  <small>written on {% if page.date %}{{ page.date | date: "%b %-d, %Y" }}{% endif %}</small>
                </div>                  
              </div>
              <div id="postArticleNav">
                <a href="{{ site.baseurl }}/">Next &#10095;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
