<!DOCTYPE html>

<html>
{% include head.html %}
  <body>
    <div id="postContainer">
      <div id="mainSidebarContainer">
        <div class="sidebarButton">
          <a href="https://unsplash.com/photos/3ytjETpQMNY" target="blank"><i class="fa fa-camera"></i> Get da photo</a>
        </div>
      </div>
      <div id="postContentContainer">
        <div class="wrapper">
        {% include postheader.html %}
          <div class="row">
            <div class="col">
              <div id="postArticleContainer">
                <article class="postArticle">
                {{ content }}
                </article>
                <div id="postArticleMeta">
                  <small>written on {% if page.date %}{{ page.date | date: "%b %-d, %Y" }}{% endif %}</small>
                </div>                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
